streamlit==1.39.0
streamlit_folium==0.22.0
matplotlib==3.9.0
matplotlib-inline==0.1.7
jsonschema==4.23.0
geojson==3.1.0
jsonschema-specifications==2024.10.1
geopandas==1.0.1
pandas==2.2.3
plotly==5.22.0
folium==0.17.0
streamlit_folium==0.22.0
streamlit_folium==0.22.0
joblib==1.4.0
